In [6]:
import pandas as pd
import os

Loading Data

In [10]:
data_path = os.path.join(os.getcwd(), "fishing_data_na.csv")
data_df = pd.read_csv(data_path)

Sanity Check

In [11]:
data_df.head(4)

   day_count day_of_week  num_big_fish  num_small_fish river_type
0          1      Monday           4.0             7.0      North
1          2     Tuesday           3.0            10.0      North
2          3   Wednesday           9.0            16.0      North
3          4    Thursday           6.0            15.0      North

In [12]:
data_df.tail(4)

    day_count day_of_week  num_big_fish  num_small_fish river_type
56         57      Monday           8.0             NaN      North
57         58     Tuesday           3.0             NaN      North
58         59   Wednesday           8.0            13.0      North
59         60    Thursday           5.0            20.0        NaN

In [13]:
data_df.iloc[5:8]

   day_count day_of_week  num_big_fish  num_small_fish river_type
5          6    Saturday           NaN             3.0      South
6          7      Sunday           6.0             3.0      South
7          8      Monday           3.0            11.0      North

In [16]:
data_df.iloc[4:3] # Look at columns

Empty DataFrame
Columns: [day_count, day_of_week, num_big_fish, num_small_fish, river_type]
Index: []

In [17]:
data_df.shape

(60, 5)

In [18]:
list(data_df)

['day_count', 'day_of_week', 'num_big_fish', 'num_small_fish', 'river_type']

In [19]:
data_df.columns

Index(['day_count', 'day_of_week', 'num_big_fish', 'num_small_fish',
       'river_type'],
      dtype='object')

Missing Values Check